<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
<!--================ Start Header Area =================-->
	<header class="default-header">
			<div class="container">
				<a class="float-right" >
					<img src="assets/webLogo.PNG" alt="" height="100">
				</a>
				<!-- <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li><a class="active" href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="causes.html">Causes</a></li>
						<li><a href="event.html">Event</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Pages
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="event-details.html">Event Details</a>
								<a class="dropdown-item" href="elements.html">Elements</a>
							</div>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
								Blog
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="blog.html">Blog</a>
								<a class="dropdown-item" href="blog-details.html">Blog Details</a>
							</div>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div> -->
			</div>	
	</header>
	<!--================ End Header Area =================-->

	<!--================ start banner Area =================-->
	<section class="home-banner-area relative" id="home" data-parallax="scroll" 
	data-image-src="assets/img/cover.jpg">
		<div class="overlay-bg overlay"></div>
		<div class="container">
			<div class="row fullscreen justify-content-lg-end">
				<div class="banner-content col-lg-7">
					<h1>
						Save the <span class="text-warning">Corona Virus</span><br/>
						affected Families
					</h1>
					<h4>More charity. Better help.</h4>
					<a href="https://www.google.com/maps/@34.072667,72.508361,309m/data=!3m1!1e3" class="primary-btn btn">
						Sherdin Banda, Thand Koi
						<i class="ti-angle-right ml-1"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

<!--================ End banner Area =================-->

	<!--================ Start About Area =================-->
	<section class="about_area lite_bg">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-5">
					<div class="about_details lite_bg">
						<h2>We Are A Charity
							Organization </h2>
						<p class="top_text">
							Recent pandemic, corona virus, has badly effected families of daily wage.
						</p>
						<p class="mb-0">
							Due to massive infection and rapid increase in corona infected patients, government has shutted down all
							forms of earnings except specified shops and job type where families living on daily wages are badly
							effected as they cannot earn anymore so far. This effort is to support those families who find it hard 
							to get food two times a day.  
						</p>
						<p>This organiztion will work in a geographical limit of Sherdeen Banda, Thand koi. All residents of this 
							area are helping us by either working with is or by donations.
						</p>

						<div class="active-brand-carusel">
							
    <div class="row">
		<div class="col-sm-6">
		  <div class="card-counter primary">
			<i class="fa fa-user"></i>
			<span class="count-numbers">{{donors}}</span>
			<span class="count-name">Donors</span>
		  </div>
		</div>
	
		<div class="col-sm-6">
		  <div class="card-counter danger">
			<i class="fa fa-users"></i>
			<span class="count-numbers">{{packagesDistributed}}</span>
			<span class="count-name">Packages Distributed</span>
		  </div>
		</div>
	
		<div class="col-sm-6">
		  <div class="card-counter success">
			<i class="fa fa-database"></i>
			<span class="count-numbers">{{fundRaised}}</span>
			<span class="count-name">Fund Raised</span>
		  </div>
		</div>
	
		<div class="col-sm-6">
		  <div class="card-counter info">
			<i class="fas fa-hands"></i>
			<span class="count-numbers">{{fundSpent}}</span>
			<span class="count-name">Fund Spent</span>
		  </div>
		</div>
	  </div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-3 col-md-6 offset-md-1 d-lg-block d-none">
					
				</div>
			</div>
			<div class="about_bg d-lg-block d-none"></div>
		</div>
	</section>
	<!--================ End About Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>How <span>Could</span> You Help</h2>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-compass"></i>
						<h4>Give Donation</h4>
						<p>"True value of one's life can be measured if the person is able to make a significant change in someone's life."</p>
						<p>More Donation. Better Help</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-desk"></i>
						<h4>Give Inspiration</h4>
						<p>"A kind gesture can reach a wound that only compassion can heal."</p>
						<p>Motivating others to help is a kind of help that only needy people can see and feel.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="feature-item">
						<i class="fi flaticon-bathroom"></i>
						<h4>Become Volunteer</h4>
						<p>"Volunteers don't get paid, not because they are worthless, but because they are priceless."</p>
						<br/>
						<p>Become Volunteer. Become Priceless</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--todo: this section is be added pictures -->
	<!--================ Start Popular Causes Area =================-->
	<!-- <section class="popular-cause-area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Popular</span> Causes</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card single-popular-cause">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="assets/img/causes/c1.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<div class="tag">Ration</div>
								<h4 class="card-title">Above Hath Fifth Of Open Meat
									fourth shall meat cattle.</h4>
								<div class="d-flex justify-content-between raised_goal">
									<p>Raised: $1533</p>
									<p><span>Goal: $2500</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary-btn">donate</a>
									<p><span class="ti-heart mr-1"></span> 89 Donors</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card single-popular-cause">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="assets/img/causes/c2.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<div class="tag">Education</div>
								<h4 class="card-title">Above Hath Fifth Of Open Meat
									fourth shall meat cattle.</h4>
								<div class="d-flex justify-content-between raised_goal">
									<p>Raised: $1533</p>
									<p><span>Goal: $2500</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary-btn">donate</a>
									<p><span class="ti-heart mr-1"></span> 89 Donors</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="card single-popular-cause">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="assets/img/causes/c3.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<div class="tag">Education</div>
								<h4 class="card-title">Above Hath Fifth Of Open Meat
									fourth shall meat cattle.</h4>
								<div class="d-flex justify-content-between raised_goal">
									<p>Raised: $1533</p>
									<p><span>Goal: $2500</span></p>
								</div>
								<div class="d-flex justify-content-between donation align-items-center">
									<a href="#" class="primary-btn">donate</a>
									<p><span class="ti-heart mr-1"></span> 89 Donors</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--================ End Popular Causes Area =================-->

	<!--================ Start callto Area =================-->
	<!-- <section class="callto-area section-gap relative">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<p class="top_text">Need your help?</p>
					<div class="call-wrap mx-auto">
						<h1>Volunteer Needed At Your Area</h1>
						
						<p>In that Our I own life unto lights them two appear days rule thing fly main for main cause fowl itself dry
							from made main cause fowl itself dry.</p>
						<a href="#" class="primary-btn mt-5">
							Sign up
							<i class="ti-angle-right ml-1"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--================ End callto Area =================-->

	<!--================ Start Upcoming Event Area =================-->
	<!-- <section class="upcoming_event_area section-gap-top">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Upcoming</span> Event</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="assets/img/event/e1.jpg" alt="">
									<div class="date">
										17 Mar
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Working Syran Children</a>
									</h3>
									<p>
										Seed the life upon you are creat
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv1">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Days</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Hours</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="#" class="primary-btn2">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="assets/img/event/e2.jpg" alt="">
									<div class="date">
										19 May
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Help And Homeless</a>
									</h3>
									<p>
										Seed the life upon you are creat
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv2">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Days</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Hours</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="#" class="primary-btn2">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="assets/img/event/e3.jpg" alt="">
									<div class="date">
										10 June
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Get Volunteer Idea 2019</a>
									</h3>
									<p>
										Seed the life upon you are creat
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv3">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Days</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Hours</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="#" class="primary-btn2">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="single_upcoming_event">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6">
								<figure>
									<img class="img-fluid w-100" src="assets/img/event/e4.jpg" alt="">
									<div class="date">
										18 July
									</div>
								</figure>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="content_wrapper">
									<h3 class="title">
										<a href="event-details.html">Get Volunteer Idea 2019</a>
									</h3>
									<p>
										Seed the life upon you are creat
									</p>
									<div class="d-flex count_time justify-content-lg-start justify-content-center" id="clockdiv4">
										<div class="single_time">
											<h4 class="days">552</h4>
											<p>Days</p>
										</div>
										<div class="single_time">
											<h4 class="hours">08</h4>
											<p>Hours</p>
										</div>
										<div class="single_time">
											<h4 class="minutes">45</h4>
											<p>Minutes</p>
										</div>
									</div>
									<a href="#" class="primary-btn2">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--================ End Upcoming Event Area =================-->

	<!--================ Start Home Blog Area =================-->
	<!-- <section class="blog-area section-gap-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<div class="home-blog-left">
						<h2>Latest From
							Our Blog </h2>
						<p>
							Open fifth midst divided great fly gathering living deep no abundantly. Evening appear saying that forth god
							wito
							Given sixth days of very Third spirit waters seas. Calleded can't his third. Evening upon. All stars. Seasons a
							the a dry for third days
						</p>
						<a href="#" class="primary-btn2">Show more</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/b1.jpg" alt="">
					</div>
					<div class="single-blog-info">
						<p class="tag"><span>Homeless, orphan</span><span>March 17, 2019</span></p>
						<a href="blog-single.html">
							<h4>Seed The Life Upon Creature
								Shall Lesser Fifth</h4>
						</a>
						<div class="meta-bottom d-flex">
							<a href="#" class="mr-3"><span class="ti-comments mr-2"></span> 02 Comments</a>
							<a href="#"> <span class="ti-eye mr-2"></span> 05 View</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/b2.jpg" alt="">
					</div>
					<div class="single-blog-info">
						<p class="tag"><span>Homeless, orphan</span><span>March 17, 2019</span></p>
						<a href="blog-single.html">
							<h4>Seed The Life Upon Creature
								Shall Lesser Fifth</h4>
						</a>
						<div class="meta-bottom d-flex">
							<a href="#" class="mr-3"><span class="ti-comments mr-2"></span> 02 Comments</a>
							<a href="#"> <span class="ti-eye mr-2"></span> 05 View</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--================ End Home Blog Area =================-->

	<!--================ Start Instagram Area =================-->
	<section class="instagram-area section-gap-top" style="background-color: #ececec;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title">
						<h2><span>Follow</span> Us</h2>
					</div>
				</div>
			</div>
		</div>
<div class="social-media container">
	<div class="row">
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="box-part text-center">
				<i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
				<div class="title">
					<h4>Instagram</h4>
				</div>
				<div class="text">
					<span>Our official Instagram account is <a target="_blank" 
						href="https://www.instagram.com/madadgar_tolana/"  class="text-info font-weight-bold">
						madadgar_tolana</a></span>	
						<br/>
						<a class="btn btn-primary text-white py-0 mt-2" href="www.instagram.com/madadgar_tolana/">Follow</a>
				</div>
			 </div>
		</div>	 
		 <div class="col-md-4 col-sm-12 col-xs-12">
			<div class="box-part text-center">
				<i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
				<div class="title">
					<h4>Twitter</h4>
				</div>
				<div class="text">
<span>We yet do not have any official twitter page</span>	
			</div>
				<a href="#">Learn More</a>
			 </div>
		</div>	 
		 <div class="col-md-4 col-sm-12 col-xs-12">
			<div class="box-part text-center">
				<i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
				<div class="title">
					<h4>Facebook</h4>
				</div>
				<div class="text">
					<span>Our facebook page name is <a target="_blank" 
						href="https://www.facebook.com/%D9%85%D8%AF%D8%AF%DA%AB%D8%A7%D8%B1%D9%BC%D9%88%D9%84%D9%86%D9%87-112772250368802/" 
						class="text-info font-weight-bold">Madadgar Tolana</a>. 
					<!-- We post our activites and precautionary mesaures on our page--></span> 
				</div>
				<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F%25D9%2585%25D8%25AF%25D8%25AF%25DA%25AB%25D8%25A7%25D8%25B1%25D9%25BC%25D9%2588%25D9%2584%25D9%2586%25D9%2587-112772250368802%2F&width=143&layout=button_count&action=like&size=large&share=true&height=46&appId"
				 width="143" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
			 </div>
		</div>	 
</div>	
</div>

		<!-- <div class="instagram-slider owl-carousel">
			<a href="assets/img/instagram/i1.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="assets/img/instagram/i1.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="assets/img/instagram/i2.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="assets/img/instagram/i2.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="assets/img/instagram/i3.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="assets/img/instagram/i3.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="assets/img/instagram/i4.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="assets/img/instagram/i4.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
			<a href="assets/img/instagram/i5.jpg" class="single-instagram d-block img-pop-up">
				<div class="instagram-img">
					<img src="assets/img/instagram/i5.jpg" alt="">
					<div class="instagram-text">
						<i class="ti-instagram"></i>
					</div>
				</div>
			</a>
		</div> -->
	</section>
	<!--================ End Instagram Area =================-->

	<!--================ Start CTA Area =================-->
	<!-- <div class="cta-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<p class="top_text">Subscribe now</p>
					<h1>Subscribe Now And Receive The
						Weekly Newsletter </h1>
					<div id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get">
							<div class="row align-items-center">
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" placeholder="Your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'"
									 required="" type="email" />
								</div>
								<div class="col-lg-5 mb-lg-0 mb-3">
									<input class="form-control" name="EMAIL" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'"
									 required="" type="email" />
								</div>
								<div class="col-lg-2">
									<button class="primary-btn" type="submit">Subscribe</button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
									</div>

									<div class="info"></div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!--================ End CTA Area =================-->
<!--================ start footer Area =================-->
<footer class="footer">
	<div class="footer-area">
		<div class="container">
			<div class="row section_gap">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title large_title">About Us</h4>
						<p>
							We are a charity organization mainly focusing on emergency situations in our country due to
							corona virus pandemic. We are trying to help families that lived on daily wages, as of now, everything is 
							shutted down in order to contain corona virus infection in our country.
						</p>
						<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
				<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget tp_widgets">
						<h4 class="footer_title">Contact Us</h4>
						<div class="ml-5">
							<p class="sm-head">
								<span class="fa fa-location-arrow"></span>
								Head Office
							</p>
							<a href="https://www.google.com/maps/@34.072667,72.508361,309m/data=!3m1!1e3">Sherdeen Banda, Thand koi</a>

							<p class="sm-head">
								<span class="fa fa-phone"></span>
								Phone Number
							</p>
							<p>
								+923__-_______
							</p>

							<p class="sm-head">
								<span class="fa fa-envelope"></span>
								Email
							</p>
							<p>
								madadgartolana@gmail.com
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--================ End footer Area =================-->
